%h1== Factoid no. #{@factoid.id}

%table
	%thead
		%tr
			%th(style="width: 50%") Triggers
			%th(style="width: 44%") Responses
			%th(style="width: 6%; text-align: center") Karma
	%tbody
		- (0..([@factoid.triggers.size, @factoid.responses.size].max - 1)).each do |idx|
			%tr
				- if idx < @factoid.triggers.size
					- trigger = @factoid.triggers[idx]
					%td
						= h(trigger.value)
						= link_to("Delete", factoid_trigger_path(@factoid, trigger), :method => :delete)
				- else
					%td

				- if idx < @factoid.responses.size
					- response = @factoid.responses[idx]
					%td
						= h(response.value).split("\\n").join("<br/>")
						= link_to("Delete", factoid_response_path(@factoid, response), :method => :delete)
					%td(style="text-align: center; font-family: Lucida Console; fixed")
						= link_to("++", inc_karma_factoid_response_path(@factoid, response), :method => :put)
						= response.karma
						= link_to("--", dec_karma_factoid_response_path(@factoid, response), :method => :put)
				- else
					%td(colspan="2")
		%tr
			%td
				- semantic_form_for(@factoid.triggers.build, :url => factoid_triggers_path(@factoid)) do |f|
					= f.inputs :value
					= f.buttons
					
			%td(colspan="2")
				- semantic_form_for(@factoid.responses.build, :url => factoid_responses_path(@factoid)) do |f|
					= f.inputs :value
					= f.buttons
						