%h1== Factoid no. #{@factoid.id}

%table
	%thead
		%tr
			%th(style="width: 50%") Triggers
			%th(style="width: 50%") Responses
	%tbody
		- (0..([@factoid.triggers.size, @factoid.responses.size].max - 1)).each do |idx|
			%tr
				- if idx < @factoid.triggers.size
					- trigger = @factoid.triggers[idx]
					%td
						= h(trigger.value)
						= link_to("Delete", factoid_trigger_path(@factoid, trigger), :method => :delete)
				- else
					%td

				- if idx < @factoid.responses.size
					- response = @factoid.responses[idx]
					%td
						= h(response.value)
						= link_to("Delete", factoid_response_path(@factoid, response), :method => :delete)
				- else
					%td
		%tr
			%td
				- semantic_form_for(@factoid.triggers.build, :url => factoid_triggers_path(@factoid)) do |f|
					= f.inputs :value
					= f.buttons
					
			%td
				- semantic_form_for(@factoid.responses.build, :url => factoid_responses_path(@factoid)) do |f|
					= f.inputs :value
					= f.buttons
						